<div id="question-form" class="hidden mt-4">
  <%= render "questions/question_form", quiz: quiz, question: quiz.questions.build do %>
    <button type="button" onclick="hideQuestionForm()" class="btn-secondary">
      Cancel
    </button>
  <% end %>
</div>