<div class="quiz-card">
  <h3 class="card-title">
    <%= link_to question.question_text, quiz_question_path(question.quiz, question), class: "card-title-link" %>
  </h3>
  
  <div class="flex justify-between items-center">
    <div class="card-meta">
      Type: <%= question.question_type.humanize %>
    </div>
    
    <%= render "questions/question_dropdown", question: question %>
  </div>
</div>