<div class="bg-gray-50 p-4 rounded-lg mb-3">
  <div class="font-medium text-gray-900">
    <%= question.question_text %>
  </div>
  <div class="text-sm text-gray-500 mt-1">
    <%= question.question_type.humanize %>
  </div>
</div>