<div class="bg-gray-50 p-4 rounded-lg mb-3 flex justify-between items-start">
  <div class="flex-1 pr-4">
    <div class="font-medium text-gray-900">
      <%= question.question_text %>
    </div>
    <div class="text-sm text-gray-500 mt-1">
      <%= question.question_type.humanize %>
    </div>
  </div>
  
  <div class="flex-shrink-0">
    <%= render "questions/question_dropdown", question: question %>
  </div>
</div>