<div class="page-content">
  <h1 class="page-header">Edit Question</h1>
  
  <%= render "form", question: @question %>
  
  <div class="mt-8">
    <h2 class="section-header">Manage Answers</h2>
    <%= render "answers_management", question: @question %>
  </div>
</div>