<div class="page-content">
  <%= render "question_header", question: @question %>
  <%= render "question_details", question: @question %>
  <%= render "answers_management", question: @question %>
</div>