<div>
  <h1 class="font-bold text-4xl">Quiz#index</h1>

  <ul class="list-decimal">
  
  <% @quizzes.each do |quiz|%>
  <li><%= link_to quiz.title, quiz_path(quiz)%></li>
  <%end%>

  </ul>

<br>  
  <%= link_to "Create new quiz", new_quiz_path, class: "text-blue-600 hover:underline" %>
</div>