<div class="page-container">
  <div class="quiz-grid">
    <% @quizzes.each do |quiz| %>
      <div class="quiz-card">
        <h3 class="card-title">
          <%= link_to quiz.title, quiz_path(quiz), class: "card-title-link" %>
        </h3>
        
        <p class="card-description">
          <%= quiz.description %>
        </p>
        
        <div class="card-meta">
          Created <%= time_ago_in_words(quiz.created_at) %> ago
        </div>
      </div>
    <% end %>
  </div>
</div>