<div>
  <h1 class="font-bold text-4xl">Quiz#show
  Title:<%= @quiz.title %>
  </h1>
  <p>
  <%= @quiz.description %>
  </p>
  <p>Find me in app/views/quiz/show.html.erb</p>
  <%= link_to "Edit this quiz", edit_quiz_path, class: "text-blue-600 hover:underline" %>
  <br>
  <%= button_to "Delete this quiz", quiz_path(@quiz), 
      method: :delete,
      data: { turbo_confirm: "Are you sure you want to delete this quiz?" },
      class: "text-blue-600 hover:underline bg-transparent border-0 cursor-pointer" %>
</div>
