<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Profile</h1>
  
  <div class="space-y-4">
    <div class="border rounded-lg p-4">
      <p class="text-gray-600">Email</p>
      <p class="font-medium"><%= @user.email_address %></p>
      <%= link_to "Change email", edit_email_user_path(@user), class: "text-blue-600 hover:underline text-sm" %>
    </div>
    
    <div class="border rounded-lg p-4">
      <p class="text-gray-600">Password</p>
      <p class="font-medium">••••••••</p>
      <%= link_to "Change password", edit_password_user_path(@user), class: "text-blue-600 hover:underline text-sm" %>
    </div>
    
    <% KeyType.all.each do |key_type| %>
      <%= render partial: "api_key_status", locals: {user: @user, key_type: key_type} %>
    <% end %>
  </div>
</div>